<!doctype html>
<html lang="en">
<head>
    <title>Homepage</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1 class="centered">Escolha uma página</h1>

    <h1>Country</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/country/internet_packageLoss">
                    <button>Country Package Loss</button>
                </a>
            </div>
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/country/internet_expectable_real_speed">
                    <button>Country Expectable Real Speed</button>
                </a>
            </div>
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/country/internet_speed">
                    <button>Country Speed</button>
                </a>
            </div>
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/country/internet_latency">
                    <button>Country Internet Latency</button>
                </a>
            </div>
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/country/distanceClientServer">
                    <button>Country Distance Client Server</button>
                </a>
            </div>
        </div>
    </div>

    <h1>City</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/city/internet_speed">
                    <button>City Speed</button>
                </a>
            </div>
        </div>
    </div>
    
    <h1>Region</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="http://127.0.0.1:5000/region/internet_speed">
                    <button>Region Speed</button>
                </a>
            </div>
        </div>
    </div>

</body>